<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Streamlab - Video Streaming HTML5 Template" />
    <meta name="description" content="Streamlab - Video Streaming HTML5 Template" />
    <meta name="author" content="StreamLab" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WatchWhistle - Video Streaming</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">
    <!-- CSS bootstrap-->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <!--  Style -->
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <!--  Responsive -->
    <link rel="stylesheet" href="/static/assets/css/responsive.css" />


    
    


     
</head>

<body>

    <!--=========== Loader =============-->
    <div id="gen-loading">
        <div id="gen-loading-center">
            <img src="/static/assets/images/watchwhistlelogo.png" alt="loading">
        </div>
    </div>
    <!--=========== Loader =============-->

    <!--========== Header ==============-->
    <header id="gen-header" class="gen-header-style-1 gen-has-sticky">
        <div class="gen-bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#">
                                <img class="img-fluid logo" src="/static/assets/images/watchwhistlelogo.png" alt="streamlab-image">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div id="gen-menu-contain" class="gen-menu-contain">
                                    <ul id="gen-main-menu" class="navbar-nav ml-auto">
                                        
                                       
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="gen-header-info-box">
                               
                                <div class="gen-account-holder">
                                    <a href="javascript:void(0)" id="gen-user-btn"><i class="fa fa-user"></i></a>
                                    <div class="gen-account-menu">
                                        <ul class="gen-account-menu">
                                            <!-- Pms Menu -->
                                            
                                            <li>
                                                <a href="/logoutadmin"><i class="fa fa-user"></i>
                                                    Logout </a>
                                            </li>
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="gen-btn-container">
                                    <a href="/admin-index" class="gen-button">
                                        <div class="gen-button-block">
                                            <span class="gen-button-line-left"></span>
                                            <span class="gen-button-text">Dashboard</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--========== Header ==============-->

    <!-- breadcrumb -->
    <div class="gen-breadcrumb" style="background-image: url('images/background/asset-25.jpeg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="gen-breadcrumb-title">
                            <h1>
                               Admin Panel
                            </h1>
                        </div>
                        <div class="gen-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i
                                            class="fas fa-home mr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active">Pricing Table</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->

    <!-- admin panel start-->
    <table>
    <thead>
        <tr>
            <th style="background-color: #007bff;">Users Panel</th>
            <th style="background-color: #007bff;">Movies Panel</th>
        </tr>
    </thead>
<tbody>
    <tr>
    <td style="padding-left:15%;">
    <div class="card-dark" style="width: 18rem;">
        <img src="/static/assets/images/asset-0.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Users Info</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          <a href="/admin-users" class="btn btn-primary">Users</a>
          <a href="/admin-regusers" class="btn btn-primary" style="margin-left: 2%;">Requests</a>
        </div>
      </div>
    </td>

    <td style="padding-left:15%;">
      <div class="card-dark" style="width: 18rem;">
        <img src="/static/assets/images/asset-0.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Movies Info</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          <a href="/admin-movies" class="btn btn-primary">Movies</a>
          <a href="/uploadmovie" class="btn btn-primary" style="margin-left: 2%;">Upload</a>
        </div>
      </div>
    </td>
</tr>
    </tbody>
</table>

    <!-- admin panel end -->

       <!-- footer start -->
       <footer id="gen-footer">
        <div class="gen-footer-style-1">
            <div class="gen-footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="widget">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="/static/assets/images/watchwhistlelogo.png" class="gen-footer-logo"
                                            alt="gen-footer-logo">
                                        <p>Movies-Verse Provides you best movies of every categories.
                                        </p>
                                        <ul class="social-link">
                                            <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#" class="facebook"><i class="fab fa-skype"></i></a></li>
                                            <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">Explore</h4>
                                <div class="menu-explore-container">
                                    <ul class="menu">
                                        <li class="menu-item">
                                            <a href="/index" aria-current="page">Home</a>
                                        </li>
                                        <li class="menu-item"><a href="/horror">Horror</a></li>
                                        <li class="menu-item"><a href="/tvshows">Tv Shows</a></li>
                                        <li class="menu-item"><a href="/action">Action</a></li>
                                        <li class="menu-item"><a href="/thriller">Thriler</a></li>
                                        <li class="menu-item"><a href="/drama">Drama</a></li>
                                        <li class="menu-item"><a href="/scifi">Sci-Fi</a></li>
                                        <li class="menu-item"><a href="/romantic">Romantic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">Company</h4>
                                <div class="menu-about-container">
                                    <ul class="menu">
                                        <li class="menu-item"><a href="contact-us.html">Company</a>
                                        </li>
                                        <li class="menu-item"><a href="contact-us.html">Privacy
                                                Policy</a></li>
                                        <li class="menu-item"><a href="contact-us.html">Terms Of
                                                Use</a></li>
                                        <li class="menu-item"><a href="contact-us.html">Help
                                                Center</a></li>
                                        <li class="menu-item"><a href="contact-us.html">contact us</a></li>
                                        <li class="menu-item"><a href="pricing-style-1.html">Subscribe</a></li>
                                        <li class="menu-item"><a href="#">Our Team</a></li>
                                        <li class="menu-item"><a href="contact-us.html">Faq</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3  col-md-6">
                            <div class="widget">
                                <h4 class="footer-title">Downlaod App</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Apps will be launched soon on PlayStore and App Store.
                                        </p>
                                        <a href="#">
                                            <img src="/static/assets/images/asset-35.png" class="gen-playstore-logo"
                                                alt="playstore">
                                        </a>
                                        <a href="#">
                                            <img src="/static/assets/images/asset-36.png" class="gen-appstore-logo"
                                                alt="appstore">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gen-copyright-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 align-self-center">
                            <span class="gen-copyright"><a target="_blank" href="/about"> Copyright 2021 WatchWhistle All
                                    Rights
                                    Reserved.</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer End -->

    <!-- Back-to-Top start -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- Back-to-Top end -->

    <!-- js-min -->
    <script src="/static/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/static/assets/js/asyncloader.min.js"></script>
    <!-- JS bootstrap -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- owl-carousel -->
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <!-- counter-js -->
    <script src="/static/assets/js/jquery.waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <!-- popper-js -->
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/swiper-bundle.min.js"></script>
    <!-- Iscotop -->
    <script src="/static/assets/js/isotope.pkgd.min.js"></script>

    <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>

    <script src="/static/assets/js/slick.min.js"></script>

    <script src="/static/assets/js/streamlab-core.js"></script>

    <script src="/static/assets/js/script.js"></script>

<!--Haider's Software-->
</body>

</html>